@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #f0f0f0;
}

::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 20px;
}

::-webkit-outer-spin-button,
::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.green-bar {
  position: absolute;
  height: 6px;
  width: 80%;
  background-color: rgb(23, 165, 23);
  left: 10%;
  top: 14%;
  z-index: -1;
}

.slider-input {
  display: none;
}

.slider-label > div {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 7px solid rgb(214, 214, 214);
  background-color: white;
}

.slider-input:checked + div {
  border: 7px solid rgb(31, 158, 6);
}

.slider-label:hover div {
  border: 7px solid rgb(41, 196, 11);
}

textarea {
  resize: none;
}

.ingredient-panel {
  max-height: calc(100vh - 4rem);
}

@media (max-width: 768px) {
  .navbar {
    position: fixed;
    z-index: 10;
  }

  .navmenu {
    position: fixed;
    flex-direction: column;
    align-items: start;
    width: 80%;
    height: 100vh;
    border: 1px solid black;
    top: 0;
    right: -100%;
    z-index: 3;
    background-color: #f5f5f5;
    padding: 80px;
    gap: 2em;
    transition: 0.3s ease-in-out;
  }

  .navmenu.opened {
    right: 0;
  }

  .hamburger {
    position: fixed;
    display: block;
    z-index: 4;
    top: 20px;
    right: 32px;
  }

  .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
  }

  .hamburger.opened .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.opened .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.opened .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .dimmer {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: black;
    top: 0;
    left: 0;
    z-index: 3;
    opacity: 0;
    transition: 0.3s ease-in-out;
    pointer-events: none;
  }

  .dimmer.opened {
    opacity: 0.5;
  }

  .main-container {
    position: relative;
  }

  .ingredient-panel.view-list {
    width: 100%;
    position: absolute;
    transition: all 0.2s ease-in-out;
  }

  .ingredient-panel.close-list {
    width: 0;
    padding: 0;
    overflow: hidden;
    left: -100%;
    transition: all 0.2s ease-in-out;
  }

  .button-container {
    width: 100%;
  }

  .recipe-panel.close-list {
    width: 0;
    position: absolute;
    right: -100%;
    overflow: hidden;
  }

  .recipe-panel.view-list {
    width: 100%;
  }
}
